<%- include("../partials/header") %>

<h1>Flight List</h1>
<table id="flight-list" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Airline</th>
      <th scope="col">Airport</th>
      <th scope="col">Flight #</th>
      <th scope="col">Departs</th>
      <th scope="col">More Info</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <tr>
        <td scope="row"><%= f.airline %></td>
        <td scope="row"><%= f.airport %></td>
        <td scope="row"><%= f.flightNo %></td>
        <td scope="row"><%= f.departs %></td>
        <td scope="row"><a href="/flights/<%= f._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
  </tbody>
</table>

<%- include("../partials/footer") %>